<div class="notes-container">
  <div class="notes-container__header">
    Note Mate
  </div>
  <div class="notes-container__body">
    <div class="notes-container__row">
      <div class="notes-container__label">
        Title
      </div>
      <div class="notes-container__control">
        <input type="text" class="notes-container__input/>
      </div>
    </div>
    <div class="notes-container__row">
      <div class="notes-container__label">
        Body
      </div>
      <div class="notes-container__control">
        <textarea
          row="5"
          cols="10"
          class="notes-container__multiline-input"
        ></textarea>
      </div>
    </div>
  </div>
</div>
